---
layout: default
title: Home
---

<!-- Title -->
<div class="title">

  {% include header.html %}

  <div class="container">

    <div class="logo">
    </div>

    <h1 class="site-title">Code <span>and</span> Cupcakes</h1>

    <h2 class="site-tagline">a beginning coding workshop for mothers and daughters</h2>

    <a href="{{ site.url }}/#workshops" class="button-hairline">Learn more about the workshop</a>

    <a href="{{ site.url }}/#registration" class="button-solid">Register for a workshop</a>

  </div>
</div>

<!-- Intro -->
<div class="intro section">
  <div class="container">
    <div class="page">

      <svg class="icon-lg invert"><use xlink:href="#icon-code"></use></svg>

      <p>Do you want to learn how to make your own web sites and apps? Do you want your daughter to learn, too? Most importantly: do you like cupcakes? Then come join us for a workshop led by a professional web designer/developer and her own daughter, complete with tasty snacks and a fun, supportive learning atmosphere.</p>

    </div>
  </div>
</div>

<!-- Registration -->
<div class="registration section">
  <div class="container">
    <div class="page">

      <svg class="icon-lg"><use xlink:href="#icon-ticket"></use></svg>
      <h3 id="registration" class="heading-section">Registration</h3>

      <div class="workshop-registration">
        <div class="workshop-info">
          <h4 class="workshop-title">May 2015 Workshop</h4>
          <h5><span>Date:</span> Saturday, May 9, 2015</h5>
          <h5><span>Time:</span> 1:00—5:00pm</h5>
          <h5><span>Location:</span> <a href="http://wearepolymathic.com/rental/">The Living Room</a>, 2423 W North Ave</h5>
          <h5><span>Cost:</span> $45</h5>
          <a href="https://ti.to/codeandcupcakes/may-2015-mother-s-day-workshop" class="button-solid-ticket">Register for workshop</a>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.2029357094802!2d-87.688194!3d41.90999600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd2a4c84f69f5%3A0xc78711443a121a08!2s2423+W+North+Ave%2C+Chicago%2C+IL+60647!5e0!3m2!1sen!2sus!4v1428107154619" width="400" height="350" frameborder="0" style="border:0"></iframe>
      </div>

      <a href="{{ site.url }}/past.html" class="button-hairline">See past events</a>

    </div>
  </div>
</div>

<!-- Workshop information -->
<div class="workshops section">
  <div class="container">
    <div class="page">

      <svg class="icon-lg invert"><use xlink:href="#icon-laptop"></use></svg>
      <h3 id="workshops" class="heading-section">Workshops</h3>

      <p>In our workshops, we start learning the basics of web development with HTML, CSS and JavaScript. We provide laptops for each mother/daughter pair to work with, wireless internet connection, guided instruction, a team of teaching assistants and, of course, cupcakes (including vegan, gluten-free and peanut/tree-nut-free, plus beverages). There is no set age range, but you and your daughter will probably get the most out of the workshop if she is old enough to fully participate (7+). We use an online text editor that allows you to save your work to your own free account, so you can keep it and build on it. We'll also send you off with a list of resources to keep learning.</p>

      <a href="{{ site.url }}/faq.html" class="button-solid-ticket">See FAQs</a>
      <a href="{{ site.url }}/resources.html" class="button-solid-ticket">See Resources</a>

    </div>
  </div>
</div>

<!-- Scholarships -->
<div class="scholarships section">
  <div class="container">
    <div class="page">

    <svg class="icon-lg"><use xlink:href="#icon-rocket"></use></svg>
    <h3 id="scholarships" class="heading-section">Scholarships</h3>

    <p>We want everyone to be able to participate in our workshops, so we offer a number of free scholarships that include a mother/daughter pair ticket plus two single-day city transit passes. If you would like to apply for a scholarship, please <a href="https://docs.google.com/forms/d/1Sg9u177L4NO0wlwtGS0UhHcz-Subnfzq8I5PSXA9tI4/viewform">fill out our scholarship application</a>.</p>

    </div>
  </div>
</div>

<!-- Volunteers -->
<div class="volunteers section">
  <div class="container">
    <div class="page">

      <svg class="icon-lg invert"><use xlink:href="#icon-smile-o"></use></svg>
      <h3 id="volunteers" class="heading-section">Volunteers</h3>

      <p>We always need a number of volunteer teaching assistants to help out with our workshops. Only basic HTML/CSS/JS and computer skills are necessary and free cupcakes provided. If you would like to volunteer for a scheduled workshop, please <a href="mailto:hello@codeandcupcakes.net">email us directly</a>. If you're interested in volunteering but can't attend one of our scheduled workshops, please join our <a href="http://eepurl.com/9wFkD">volunteer mailing list</a> to receive word of future workshops.</p>

      <!--<a href="{{ site.url }}/community.html" class="button-solid-ticket">See Our Community</a>-->

    </div>
  </div>
</div>

<!-- Instructor -->
<div class="instructor section">
  <div class="container">
    <div class="page">

      <img src="../images/jen.png" class="image-profile" />
      <h3 id="instructor" class="heading-section">Instructor</h3>

      <p><a href="http://jenmyers.net">Jen Myers</a> founded Code and Cupcakes in late 2014 and currently leads its workshops. Jen is a Chicago-based web designer/developer who also founded the Columbus, Ohio chapter of <a href="http://girldevelopit.com">Girl Develop It</a> in 2011 and now teaches with and advises the Chicago GDI chapter. She is the single mother of a nine-year-old daughter, whom she has been teaching how to create on the web for two years.</p>

    </div>
  </div>
</div>

<!-- Contact -->
<div class="contact section">
  <div class="container">
    <div class="page">

      <svg class="icon-lg invert"><use xlink:href="#icon-paper-plane-o"></use></svg>
      <h3 id="contact" class="heading-section">Contact</h3>

      <p>If you have any questions, please let us know!</p>

      <a href="mailto:hello@codeandcupcakes.net" class="button-solid-contact">Email Code and Cupcakes</a>

      <div class="social">
        <a href="http://twitter.com/codecupcakeschi" class="social"><svg class="icon-social"><use xlink:href="#icon-twitter-square"></use></svg></a>
        <a href="http://facebook.com/codeandcupcakes" class="social"><svg class="icon-social"><use xlink:href="#icon-facebook-square"></use></svg></a>
      </div>

      <p>To get news on upcoming workshops, join our mailing list.</p>

      <div class="email-signup">
        {% include email-signup.html %}
      </div>

    </div>
  </div>
</div>
