<header class="header-site">

  <nav class="nav-main">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="{{ site.url }}#workshops">Workshops</a></li>
      <li><a href="{{ site.url }}#registration">Registration</a></li>
      <li><a href="{{ site.url }}#scholarships">Scholarships</a></li>
      <li><a href="{{ site.url }}#volunteers">Volunteers</a></li>
      <li><a href="{{ site.url }}#instructor">Instructor</a></li>
      <li><a href="{{ site.url }}#contact">Contact</a></li>
    </ol>
  </nav>

</header>
