// Layout 

body {
  background-color: #fff;
  color: $color-base;
  font-family: $font-primary;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
}

.container {
  @include outer-container;
  padding-top: 0.8em;
}

.page {
  @include span-columns(8);
  @include shift(2);
  padding: 2em 0;
}

.secondary {
  padding-top: 2em;
}

.title {
  background-image: url("../images/cover.png");
  background-size: cover;
  padding-bottom: 40px;
  text-align: center;
}

.section {
  text-align: center;
  padding: 1em 0;
}

p {
  font-size: 1.4em;
  font-weight: 100;
}

.intro, .contact {
  background-color: $color-emphasis;
  border-bottom-color: lighten($color-emphasis, 10%);
  border-bottom-style: solid;
  border-bottom-width: $width-border-thick;
  border-top-color: lighten($color-emphasis, 10%);
  border-top-style: solid;
  border-top-width: $width-border-thick;
  color: $color-inverted;
  color: $color-inverted;
}

.host {
  @include background-design;
}

.workshops {
  background-color: $color-link-button;
  border-bottom-color: lighten($color-link-button, 10%);
  border-bottom-style: solid;
  border-bottom-width: $width-border-thick;
  border-top-color: lighten($color-link-button, 10%);
  border-top-style: solid;
  border-top-width: $width-border-thick;
  color: #333;
  a {
    @include border-bottom-special;
    color: #333;
    &:hover {
      @include border-bottom-special;
      border-bottom-color: lighten($color-link-button, 30%);
      color: #111;
    }
  }
}

.contact {
  background-color: $color-link;
  border-bottom-color: lighten($color-link, 10%);
  border-bottom-style: solid;
  border-bottom-width: $width-border-thick;
  border-top-color: lighten($color-link, 10%);
  border-top-style: solid;
  border-top-width: $width-border-thick;
  color: $color-inverted;
  a {
    color: lighten($color-link, 25%);
    &:hover {
      color: $color-inverted;
    }
  }
}

.instructor {
  @include background-design;
}

.email-signup {
  @include span-columns(6);
  @include shift(3);
}

.logo {
  background-image: url("../images/cupcake.png");
  background-repeat: no-repeat;
  height: 238px;
  margin: 80px auto 0 auto;
  width: 340px;
}

header.header-site {
  height: 50px;
  text-align: center;
  width: 100%;
  position: fixed;
}

.sticky {
  background-color: #333;
}

.page-header header.header-site{
  background-color: #333;
}

ol {
  list-style-type: none;
  font-size: 75%;
  letter-spacing: 0.1em;
  margin-top: 15px;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 0.5em;
    text-transform: uppercase;
    a {
      @include transition-link;
      border-bottom: none;
      color: #ccc;
      &:hover {
        border-bottom: none;
        color: lighten($color-link, 50%);
      }
    }
  }
}

h1.site-title {
  color: $color-inverted;
  font-size: 5em;
  font-weight: 100;
  line-height: 1;
  margin: 0;
  span {
    font-size: 0.5em;
    text-transform: uppercase;
    vertical-align: middle;
  }
}

h2.site-tagline {
  color: $color-tagline;
  font-size: 1.3em;
  font-weight: 300;
  margin: 1em auto;
  line-height: 1;
  text-transform: uppercase;
  width: 75%;
}

h3.heading-section {
  font-size: 2em;
  margin: 0;
}

h4.workshop-title {
  font-size: 1.6em;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h5 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0.5em 0;
  & span {
    color: $color-emphasis;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.credit {
  font-size: 0.8em;
  text-align: right;
}

.faq-question {
  font-weight: bold;
}

.faq-answer {
  margin-bottom: 2em;
}

// Anchors

a {
  @include border-bottom;
  @include transition-link;
  color: $color-link;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    border-bottom-color: darken($color-border, 15%);
    color: darken($color-link, 15%);
  }
  &.social {
    @include transition-icon;
    border-bottom-color: none;
    border-bottom-style: none;
    border-bottom-width: none;
    fill: $color-inverted;
    fill-opacity: 0.5;
  }
  &:hover.social {
    fill-opacity: 1;
  }
}

a.button-hairline {
  @include transition-button-hairline;
  background-color: rgba(51, 51, 51, 0.6);
  border-bottom: none;
  border-color: $color-link-button;
  border-radius: 5px;
  border-style: solid;
  border-width: $width-border-medium;
  color: $color-link-button;
  display: inline-block;
  font-size: 1.2em;
  margin: 2em 1em;
  padding: 1em;
}

a:hover.button-hairline {
  background-color: rgba(51, 51, 51, 1);
  border-color: darken($color-link-button, 10%);
  color: darken($color-link-button, 10%);
}

a.button-solid {
  @include transition-button-solid;
  background-color: $color-link-button;
  border-bottom: none;
  border-color: $color-link-button;
  border-radius: 5px;
  border-style: solid;
  border-width: $width-border-medium;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  font-size: 1.2em;
  margin: 2em 1em;
  padding: 1em;
}

a:hover.button-solid {
  background-color: darken($color-link-button, 10%);
  border-color: darken($color-link-button, 10%);
  border-width: $width-border-medium;
}

a.button-solid-host {
  @extend .button-solid;
  background-color: $color-link;
  border-color: $color-link;
  color: #fff;
  display: block;
  margin: 2em auto;
  width: 60%;
}

a:hover.button-solid-host {
  background-color: darken($color-link, 5%);
  border-color: $color-link;
}

a.button-solid-contact {
  @extend .button-solid;
  background-color: darken($color-link, 5%);
  border: none;
  color: #fff;
}

a:hover.button-solid-contact {
  background-color: darken($color-link, 10%);
  border: none;
}


// Icons

.icon {
  display: inline-block;
}

.icon-lg {
  @extend .icon;
  fill: #ccc;
  height: 80px;
  width: 80px;
  &.invert {
    fill: $color-inverted;
    fill-opacity: 0.5;
  }
}

.icon-social {
  @extend .icon;
  height: 60px;
  width: 60px;
}

a .icon-lg {
  border-bottom: none;
}


// Images

.event {
  border-color: $color-inverted;
  border-style: solid;
  border-width: $width-border-thick;
}
