---
title: Code and Cupcakes Assistant
---

<div class="container">
  <img src="img/cupcake.png" class="logo" />
  <div class="panel">
    <h1>
      Code <span>and</span> Cupcakes
    </h1>
    <h2>
      a beginning coding workshop for mothers and daughters
    </h2>
    <p>
      Code and Cupcakes is a beginning coding workshop series for mothers and daughters in Chicago. The first event was on October 25, 2014 and as I expand into more workshops and different areas of the city, I would like to find a dedicated assistant to handle more operational details so that I can focus on curriculum materials and website development.
    </p>

    <p>
      This will entail an average of a few hours a week plus the five hours of the events themselves (one Saturday a month at most). I will provide a small stipend (amount to be determined) to compensate for your time.
    </p>

    <p>
      Some of the tasks an assistant would be engaged with:
    </p>

    <ul>
      <li>Replying via email to general questions and comments</li>
      <li>Arranging details with host venues for events</li>
      <li>Confirming volunteer teaching assistants for events</li>
      <li>Arranging details for scholarship recipients</li>
      <li>Sending updates to the mailing lists</li>
      <li>Posting relevant links and news to social media accounts</li>
      <li>Helping to set up/tear down and gathering materials for events</li>
      <li>Handling details for media interviews/appearances</li>
    </ul>

    <p>
      Bonus: basic HTML & CSS skils to help with website updates.
    </p>

    <p>
      If you've ever been interested in learning about the organization and sustainability of community events, especially in the tech education and diversity space, this would be a great way to do that. I've been organizing tech education events aimed at diverse audiences for almost four years now and am looking forward to bringing those lessons learned to making Code and Cupcakes sustainable and successful.
    </p>

    <p>
      If you're interested in talking further, or have any questions, please contact me at <a href="mailto:hello@jenmyers.net">hello@jenmyers.net</a>.
    </p>
  </div>
</div><!-- /container -->
