---
title: Code and Cupcakes
---

<!-- <header>
  <div class="container">
  </div>
</header> -->

<div class="container">
  <img src="img/cupcake.png" class="logo" />
  <div class="panel">
    <h1>
      Code <span>and</span> Cupcakes
    </h1>
    <h2>
      a beginning coding workshop for mothers and daughters
    </h2>
    <p>
      Do you want to learn how to make your own web sites and apps? Do you want your daughter to learn, too? Most imporantly: do you like cupcakes? Then come join us for a workshop led by a professional web designer/developer and her own daughter, complete with tasty snacks and a fun, supportive learning atmosphere.
    </p>
    <hr />
    <div class="event-info">
      <h3>
        <span>Day:</span> Saturday, October 25, 2014 
      </h3>
      <h3>
        <span>Time:</span> 1 PM - 6 PM 
      </h3>
      <h3>
        <span>Location:</span> <a href="http://wearepolymathic.com/events/">The Living Room</a><br />2423 W North Ave, Chicago, IL
      </h3>
      <h3>
        <span>Cost:</span> $35 for both mother and daughter
      </h3>
      <a href="https://www.eventbrite.com/e/code-and-cupcakes-tickets-12666869949" class="button">
        Buy ticket
      </a>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m20!1m8!1m3!1d5938.471325293526!2d-87.68757169999999!3d41.909292399999984!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e6!4m0!4m5!1s0x880fd2a4c84f69f5%3A0xc78711443a121a08!2s2423+W+North+Ave%2C+Chicago%2C+IL+60647!3m2!1d41.909996!2d-87.688194!5e0!3m2!1sen!2sus!4v1408032133948" width="400" height="300" frameborder="0" style="border:0"></iframe>
    <hr />
    <h4>
      Workshop
    </h4>
    <img src="img/code.png" class="even" />
    <p>
      We'll start learning HTML and CSS to make websites, and provide instruction, desk space and wifi. Please bring your own laptop, or two, to use. If you need to borrow a laptop, just let us know. We'll also provide cupcakes, including vegan and gluten-free options, plus beverages. There is no set age range, but you and your daughter will probably get the most out of the workshop if she is old enough to fully participate (7+). We'll also send you off with a list of resources to keep learning.
    </p>
    <hr />
    <h4>
      Scholarships
    </h4>
    <img src="img/child.png" class="odd" />
    <p>
      We are offering some scholarships for mothers and daughters who would not be able to attend otherwise. Scholarships include one pair ticket plus a two public transit day passes. <a href="https://docs.google.com/forms/d/1Sg9u177L4NO0wlwtGS0UhHcz-Subnfzq8I5PSXA9tI4/viewform">Please apply for a scholarship here</a>.
    </p>
    <p>
      Would you like to donate a scholarship package? Please go to the ticketing page and choose the <a href="https://www.eventbrite.com/e/code-and-cupcakes-tickets-12666869949">Fund a Scholarship</a> option.
    </p>
    <hr />
    <h4>
      Volunteers
    </h4>
    <p>
      Want to volunteer to help teach the workshop? We're looking for a few good people. Experience teaching beginning coders and/or working with kids a plus. <a href="mailto:codeandcupcakes@jenmyers.net">Please email us to ask about becoming a volunteer</a>.
    </p>
    <hr />
    <h4>
      Instructor
    </h4>
    <img src="img/jen.png" class="even less" />
    <p>
      <a href="http://jenmyers.net">Jen Myers</a> will lead the workshop with a team of volunteers. Jen is a Chicago-based web designer/developer who founded the Columbus, Ohio chapter of Girl Develop It in 2011 and now teaches and advises the Chicago GDI chapter. She also has been teaching her daughter to create on the web for two years.
    </p>
    <hr />
    <p class="callout">
      Questions?
    </p>
    <a href="mailto:codeandcupcakes@jenmyers.net" class="button">
      Talk to us!
    </a>
  </div>
</div><!-- /container -->